
block content
  #contact.section.section-contact-3
    .text-area
      .title.add-animation-stopped.animate
        h2 Contact T`Della Creations 
        .separator-container
          .separator.line-separator ✻
    .section.contact-container
      .address-container.add-animation-stopped.animation-1.animate
        .address
          h4 The Della Mailing Address 
          p.text-gray
            | #{ support.street }
            br
            | #{ support.appartment }
            br
            | #{ support.city }, #{ support.state } #{ support.zipcode }
          h4 Phone
          p.text-gray #{ support.phone } 
          h4 The Old Fashion way ... 
          a(href='mailto:' + support.email)
            p.text-gray #{ support.email }
      .map
        #contactUsMap.big-map(style='position: relative; overflow: hidden;')


